body{
   height: 100%;
   width: 100%;
   left:0;
   right: 0;
   top: 0;
   bottom: 0;
   background: linear-gradient(124deg, #ff8e7d80, #fa53537a, #fcc83977, #54c0977a, #7168f070, #c754f579);
   background-size: 1800% 1800%;

   animation: rainbow 25s ease infinite;

   @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
}
*{
   box-sizing: border-box;
}
button{cursor: pointer;}

.todolist{
   max-width:480px;
   margin:50px auto;
   @media (max-height: 730px) {
      margin: 30px auto;
   }
   h2{
      text-align: center;
      font-size:4rem;
      font-weight: 100;
      letter-spacing: 6px;
      margin:16px 0 30px 0;
      color:#ffffff;
      @media (max-height: 740px) {
         font-size: 3rem;
         margin: 16px 0 20px 0;
      }
   }
   .wrap{
      background-color: white;        
      padding:20px 32px 25px 32px;
      box-shadow: 0 5px 5px rgba(0,0,0,0.2);
   }
   .insert{
      margin-bottom:20px;
      border-radius: 25px;
      background-color: white;
      form{
         display: flex;
         align-items: center;
         justify-content: space-between;
         input{
            width:calc(100% - 55px);
            height:50px;
            vertical-align: middle;
            border:none;
            outline: none;
            font-size: 14px;
            border-radius: 25px;
            padding-left: 35px;
            &::placeholder{ color:#aaa; }
         }
         button{
            width:40px; height:40px;
            font-size:1.2rem; 
            vertical-align: middle;
            border: none;
            border-radius: 25px;
            margin-right: 8px;
         }
      }
   }

   ul{
      list-style-type: none;
      margin:0; padding:0;
      max-height: 50vh;
      overflow-y: auto;
      li{
         border-bottom: 1px solid #ddd;
         padding:4px 0;
         display: flex;
         justify-content: space-between;
         div{
            margin:0;
            display: flex;
            align-items: center;
            input{display: none;}
            label{
               display: inline-block;
               width: 34px; height: 18px;
               background-color: rgb(203, 168, 248);
               border-radius: 18px;
               margin-right: 10px;
               &::after{
                  content: '';
                  width: 14px; height: 14px;
                  border-radius: 50%;
                  display: block;
                  background-color: white;
                  transform: translate(2px, 2px);
                  transition: .5s;
               }
            }
            input:checked + label{
               background-color: #ddd;
               &::after{
                  transform: translate(18px, 2px);
               }
            }
            p{
               flex: 1;
               @media (max-height: 880px) {
                  margin: 10px 0;
               }
            }
         }
         button{
            background-color: transparent;
            border: none;
            color:rgb(191, 171, 209);
            margin-right:15px;
            display: none;
         }
         &:hover button{display: block;}
      }
   }

   .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size:.8rem;
      color:#999;
      margin-bottom: 10px;
      button{
         background-color: transparent;
         border:1px solid transparent;
         font-size:.8rem;
         padding:5px 10px;
         color:#c5c5c5;
      }
      button:hover{
         color: rgb(217, 176, 255);
      }
      button.active{ 
         color:rgb(207, 138, 228);
      }
   }
}